In [2]:
import pandas as pd
from nltk.translate import bleu_score
from jiwer import wer

In [27]:
videos = pd.read_csv("video_list.csv")

In [28]:
videos.head()

,id,runtime,category,url,year,fellow_accuracy_rating,automl_confidence_avg,automl_confidence_min,automl_confidence_max
0,tobacco_rdz99d00,0:01:29,Advertising,https://archive.org/download/tobacco_rdz99d00/...,1966,NaN,0.765765,0.758432,0.773098
1,tobacco_amp91f00,0:05:25,Advertising,https://archive.org/download/tobacco_amp91f00/...,1994,NaN,0.844541,0.759544,0.912708
2,tobacco_xpu03f00,0:11:28,Advertising,https://archive.org/download/tobacco_xpu03f00/...,1961,NaN,0.813684,0.548756,0.910613
3,tobacco_qar62a00,0:12:13,Advertising,https://archive.org/download/tobacco_qar62a00/...,2001,NaN,0.856838,0.545134,0.912839
4,tobacco_ldo23e00,0:55:40,Advertising,https://archive.org/download/tobacco_ldo23e00/...,1957,NaN,0.839080,0.692930,0.912838

In [29]:
videos.id

0     tobacco_rdz99d00
1     tobacco_amp91f00
2     tobacco_xpu03f00
3     tobacco_qar62a00
4     tobacco_ldo23e00
5     tobacco_lez99d00
6     tobacco_tpu03f00
7     tobacco_nou03f00
8     tobacco_szy99d00
9     tobacco_gxu03f00
10    tobacco_gav28d00
11    tobacco_qyq95i00
12    tobacco_lxkv0152
13    tobacco_byv27a00
14    tobacco_kpp06a00
15    tobacco_mnjp0149
16    tobacco_kou03f00
17    tobacco_kpr91e00
18    tobacco_ohq03d00
19    tobacco_qdo23e00
20    tobacco_ipu03f00
21    tobacco_ziw99d00
22    tobacco_gty99d00
23    tobacco_qmu03f00
24    tobacco_ojq03d00
25    tobacco_iwu03f00
26    tobacco_bbx27a00
27    tobacco_ich77e00
28    tobacco_hno23e00
29    tobacco_lpp06a00
30    tobacco_qjb77c00
31    tobacco_jnjp0149
32    tobacco_kkm09c00
33    tobacco_hxkv0152
34    tobacco_mpp06a00
35    tobacco_dlm09c00
Name: id, dtype: object

In [30]:
# delete once this is added - just messing up the loop right now 

videos = videos.loc[(videos.id != "tobacco_dlm09c00")]

In [34]:
# add transcripts into the dataframe

transcripts = pd.DataFrame(columns = ['id', 'computer_transcript'])  

# will add and join human transcripts here too when we have them 

for id in videos.id:
    #open text file in read mode
    text_file = open("computer_transcripts/%s.txt" % id, "r")
    
    #read whole file to a string
    text = text_file.read()
    
    #close file
    text_file.close()
    
    #add row to transcripts dataframe
    transcripts.loc[len(transcripts.index)] = [id, text]
    
videos = videos.merge(transcripts, on='id', how='left')

In [35]:
videos.head()

,id,runtime,category,url,year,fellow_accuracy_rating,automl_confidence_avg,automl_confidence_min,automl_confidence_max,computer_transcript
0,tobacco_rdz99d00,0:01:29,Advertising,https://archive.org/download/tobacco_rdz99d00/...,1966,NaN,0.765765,0.758432,0.773098,"then is the Newport a welcome place,never hush..."
1,tobacco_amp91f00,0:05:25,Advertising,https://archive.org/download/tobacco_amp91f00/...,1994,NaN,0.844541,0.759544,0.912708,when I think about it most of my friends who s...
2,tobacco_xpu03f00,0:11:28,Advertising,https://archive.org/download/tobacco_xpu03f00/...,1961,NaN,0.813684,0.548756,0.910613,hardly folks if you have never smoked Raleigh ...
3,tobacco_qar62a00,0:12:13,Advertising,https://archive.org/download/tobacco_qar62a00/...,2001,NaN,0.856838,0.545134,0.912839,"my name is Alberta,I just think okay if I don'..."
4,tobacco_ldo23e00,0:55:40,Advertising,https://archive.org/download/tobacco_ldo23e00/...,1957,NaN,0.839080,0.692930,0.912838,strike up a friendship with a new Parliament P...

In [ ]:
# text cleaning and tokenizing

# create lists of sentence lists and save them with their id name
# remove commas, semicolons, dashes, convert all sentence enders to periods, replace multiple periods with one period
# split by periods and then by spaces