In [1]:
import pandas as pd
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

In [2]:
pd.options.display.max_columns = None
pd.options.display.max_rows = None

In [3]:
#pd.set_option('display.max_colwidth', None)

In [4]:
df = pd.read_csv('links_with_metadata_and_dates.csv')

In [5]:
df.head(1)

,identifier,name,size,url,collection,title,mediatype,year,description,subject
0,tobacco_xsy27a00,tobacco_xsy27a00.mp4,335616265,https://archive.org/download/tobacco_xsy27a00/...,medicalheritagelibrary,movies,"Tobacco"" ABC-TV Special with Peter Jennings ...",NaN,ABC Special on the tobacco industry and it's r...,"tobacco, cigarette, tobacco industry, advertis..."

In [6]:
pysqldf("SELECT year, COUNT(*) FROM df GROUP BY year")

            year  COUNT(*)
0           None      2447
1      (No Date)         8
2           0000         1
3       00000808         1
4          10007       119
5           1899         2
6          1900?         1
7      1901,1902         1
8           1939         2
9      1940-1952         1
10    1940s-1955         2
11     1947-1959         4
12   1948-1960's         2
13     1948;1955         1
14          1949        30
15   1949 - 1952         1
16     1949-1952         1
17     1950-1971         2
18         1950s         3
19    1950s-1968         3
20   1950s-1970s         3
21          1951         3
22     1951-1962         1
23          1952         1
24     1953-1970         2
25     1954-1970         2
26          1955         1
27     1955-1970         2
28          1956         1
29          1957         3
30         1957E         1
31          1958         5
32     1958/1963         1
33          1959        10
34         1959E         1
35          1960        23
36     1960-1970         1
37     1960/1975         1
38         1960?         1
39          1961         9
40         1961E         1
41          1962         2
42         1962E         1
43          1963         5
44          1964        23
45          1965         7
46        1965/D         1
47          1966        36
48   1966 - 1968         1
49    1966-05-06         2
50     1966-1968         1
51        1966/E         1
52          1967        77
53         1967E         2
54          1968        82
55     1968-1970         1
56        1968/D         1
57        1968/E         1
58         1968E         2
59          1969         9
60        1969/E         2
61         1969E         2
62          1970         4
63         1970E         1
64          1971         2
65          1972         3
66          1974         2
67          1975         4
68    1975; 1989         1
69          1976        12
70      19760523         1
71          1977        10
72          1978        17
73    1978-02-15         1
74    1978-12-00         1
75      19780111         1
76          1979        29
77    1979-01-26         1
78          1980        17
79          1981        32
80    1981-10-21         2
81          1982        83
82      19820713         1
83      19820914         1
84    1982; 1985         1
85         1982E         1
86          1983       108
87    1983-00-00         1
88    1983-05-25         1
89    1983-06-18         1
90         1983E         1
91          1984        94
92     1984-1986         1
93      19840000        12
94      19840605         1
95          1985        74
96    1985-01-00         1
97    1985-02-02         1
98    1985-03-04         1
99    1985-03-11         1
100   1985-04-22         1
101   1985-05-31         2
102   1985-11-08         1
103         1986       129
104   1986-02-18         2
105   1986-05-13         1
106   1986-08-01         1
107    1986-1989         1
108       1986/E         2
109     19860326         1
110     19860522         2
111     19860600         1
112     19860729         1
113     19860909         1
114     19861100         1
115     19861112         1
116     19861205         1
117         1987       121
118   1987-01-21         1
119      1987-11         2
120     19870112         1
121     19870121         1
122     19870327         1
123     19870329         1
124     19870415         1
125     19870716         1
126         1988       196
127   1988-02-05         1
128   1988-03-27         1
129   1988-07-26         2
130   1988-08-09         2
131   1988-08-11         1
132        1988E         3
133         1989       182
134   1989-01-11         1
135   1989-05-16         1
136   1989-08-16         4
137     19890119         1
138     19890302         1
139     19890405         2
140     19890420         1
141     19890426         1
142     19890427         1
143     19890430         1
144     19890516         2
145     19890527         1
146     19891116         1
147        1989E         1
148         1990       122
149   1990-02-19         1
150   1990-02-22         1
151   1990-02-27         1
152   1990-06-25         1
153    1990/1992         1
154       1990/E         2
155     19900222         1
156     19900227         1
157     19900407         1
158     19900410         1
159     19900420         1
160     19900421         1
161     19900504         1
162     19900509         1
163     19900512         1
164     19900520         2
165     19900524         2
166     19900600         1
167     19900607         1
168     19900612         1
169     19900613         1
170     19900626         1
171     19900701         2
172     19900705         1
173     19900709         1
174     19900710         1
175     19900712         1
176     19900716         1
177     19900807         1
178     19900824         1
179     19900827         1
180     19901115         2
181     19901211         1
182     19901224         1
183        1990E         2
184         1991       141
185      1991-01         1
186   1991-01-02         1
187   1991-01-10         3
188   1991-02-05         1
189   1991-02-24         1
190   1991-02-28         1
191   1991-04-11         1
192   1991-04-15         1
193   1991-10-01         1
194   1991-10-14         1
195    1991-1994         1
196     19910111         1
197     19910214         1
198     19910228         1
199     19910306         1
200     19910311         1
201     19910312         2
202     19910313         1
203     19910326         1
204     19910402         1
205     19910404         1
206     19910409         1
207     19910415         3
208     19910418         2
209     19910419         1
210        1991E         1
211         1992       110
212      1992-09         1
213    1992-1994         1
214    1992/1994         1
215     19920404         1
216         1993       168
217   1993-01-07         1
218   1993-11-05         1
219   1993-11-22         2
220         1994       258
221   1994-02-22         2
222   1994-03-28         2
223   1994-03-29         1
224   1994-04-20         1
225    1994-1996         1
226    1994/1996         2
227       1994/E         1
228        1994E         2
229         1995       155
230   1995-07-13         1
231   1995-11-01         1
232       1995/E         1
233        1995E         3
234         1996        74
235   1996-01-03         1
236   1996-01-24         1
237   1996-04-09         1
238   1996-04-30         1
239   1996-10-02         1
240       1996/E         1
241        1996E         2
242         1997        42
243   1997-04-14         3
244   1997-04-17         3
245   1997-04-18         1
246   1997-05-28         2
247   1997-07-17        15
248   1997-09-03         3
249   1997-09-15         8
250   1997-09-22         7
251   1997-09-23         6
252   1997-09-30         3
253   1997-10-06         3
254   1997-10-23         2
255         1998        63
256   1998-06-17        14
257   1998-10-28         5
258     19980000         1
259   19980000/E         1
260     19980224         1
261     19980522         1
262         1999        49
263   1999-01-05        11
264   1999-11-22         2
265         2000        93
266   2000-03-24         1
267      2000-06         1
268   2000-07-12         1
269      2000-08         2
270   2000-10-26         9
271   2000-12-07         1
272   2000-12-13         1
273   2000-12-15         1
274     20000400         1
275     20000713         1
276         2001        70
277   2001-01-23         1
278   2001-06-28         7
279   2001-07-01         1
280   2001-08-09         1
281   2001-08-30         1
282   2001-09-28         1
283   2001-10-11        10
284   2001-10-19         8
285   2001-10-25         1
286   2001-10-30         6
287   2001-10-31         8
288   2001-11-05         1
289   2001-11-26        12
290   2001-12-00        12
291       2001/E         1
292     20010809         1
293         2002        11
294      2002-01         1
295   2002-01-08         4
296   2002-02-07         1
297   2002-02-21        12
298   2002-03-19         6
299   2002-04-12         6
300   2002-05-07         9
301   2002-05-13         9
302   2002-05-31         6
303      2002-09         1
304         2003         9
305         2005         4
306         2007         4
307         2009         1
308         2010         2
309         2011        80
310   2011-10-05         7
311         2012        58
312         2013         2
313         2016         2
314         2018         2
315         2019         6

In [7]:
pysqldf("SELECT COUNT(*) FROM df")

   COUNT(*)
0      6054

In [8]:
df.columns

Index(['identifier', 'name', 'size', 'url', 'collection', 'title', 'mediatype',
       'year', 'description', 'subject'],
      dtype='object')

In [9]:
#advertising query
df_advertising = pysqldf("""
SELECT * FROM df
WHERE subject LIKE '%advertising%'
AND year IS NOT NULL
""")

In [10]:
#legal-related query
df_legal = pysqldf("""
SELECT * FROM df
WHERE subject LIKE '%legal%'
OR subject LIKE '%lawsuit%'
OR subject LIKE '%lawyer%'
OR subject LIKE '%litigation%'
OR subject LIKE '%law%'
AND year IS NOT NULL
""")

In [11]:
len(df_legal)

340

In [12]:
#df_advertising.to_csv('advertising_links_metadata.csv', index=False)

In [13]:
#pysqldf("""
#SELECT distinct subject FROM df_legal
#""")

In [14]:
#df_legal.to_csv('legal_links_metadata.csv', index=False)

In [15]:
df_transcripts = pd.read_csv('transcript_accuracy.csv')

In [16]:
#df_transcripts.head(1)

In [17]:
advertising_transcripts = pysqldf("""
SELECT
    *
FROM
    df_advertising
JOIN
    df_transcripts
ON
    df_advertising.identifier = df_transcripts.file_name

""")

In [18]:
len(advertising_transcripts)

85

In [19]:
law_transcripts = pysqldf("""
SELECT
    *
FROM
    df_legal
JOIN
    df_transcripts
ON
    df_legal.identifier = df_transcripts.file_name

""")

In [20]:
len(law_transcripts)

20

In [21]:
#law_transcripts

In [22]:
law_transcripts.to_csv('law_transcripts.csv', index=False)

In [23]:
advertising_transcripts.to_csv('advertising_transcripts.csv', index=False)